<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @question.course.name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Answer1:</strong>
  <%= @question.answer1 %>
</p>

<p>
  <strong>Answer2:</strong>
  <%= @question.answer2 %>
</p>

<p>
  <strong>Answer3:</strong>
  <%= @question.answer3 %>
</p>

<p>
  <strong>Answer1correct:</strong>
  <%= @question.answer1correct %>
</p>

<p>
  <strong>Answer2correct:</strong>
  <%= @question.answer2correct %>
</p>

<p>
  <strong>Answer3correct:</strong>
  <%= @question.answer3correct %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @question.explanation %>
</p>

<p>
  <strong>Linkurl:</strong>
  <%= @question.linkurl %>
</p>

<p>
  <strong>Linkname:</strong>
  <%= @question.linkname %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user.facebookid %>
</p>

<p>
  <%= link_to "#{@question.question_likes.count} Question Likes", question_question_likes_path(@question)%> 
</p>

<p>
  <%= link_to "#{@question.question_dislikes.count} Question dislikes", question_question_dislikes_path(@question)%> 
</p>

<p>
  <%= link_to "#{@question.question_learneds.count} Question learneds", question_question_learneds_path(@question)%> 
</p>

<p>
  <%= link_to "#{@question.question_feedbacks.count} Question feedbacks", question_question_feedbacks_path(@question)%> 
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', course_questions_path(@course) %>
