<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Facebookid</th>
      <th>Boosts</th>
      <th>Jokers</th>
      <th>Xp</th>
      <th>University</th>
      <th>Subject</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subject.users.each do |user| %>
      <tr>
        <td><%= user.facebookid %></td>
        <td><%= user.boosts %></td>
        <td><%= user.jokers %></td>
        <td><%= user.xp %></td>
        <td><%= user.university.name %></td>
        <td><%= user.subject.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to subject', subject_path(@subject) %>
<%= link_to 'New User', new_subject_user_path(@subject) %>

