<p id="notice"><%= notice %></p>

<p>
  <strong>Facebookid:</strong>
  <%= @user.facebookid %>
</p>

<p>
  <strong>Boosts:</strong>
  <%= @user.boosts %>
</p>

<p>
  <strong>Jokers:</strong>
  <%= @user.jokers %>
</p>

<p>
  <strong>Xp:</strong>
  <%= @user.xp %>
</p>

<p>
  <strong>University:</strong>
  <%= @user.university.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @user.subject.name %>
</p>

<p>
  <%= link_to "#{@user.courses.count} Courses", user_courses_path(@user)%> 
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', subject_users_path(@subject) %>
