<p id="notice"><%= notice %></p>

<p>
  <strong>Xp:</strong>
  <%= @user_profile.xp %>
</p>

<p>
  <strong>University:</strong>
  <%= @user_profile.university %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @user_profile.subject %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
