<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @course_student.user.facebookid %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_student.course.name %>
</p>

<%= link_to 'Edit', edit_course_student_path(@course_student) %> |
<%= link_to 'Back', course_course_students_path(@course) %>
