<h1>Listing courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lecturer</th>
      <th>Semester</th>
      <th>Subject</th>
      <th>University</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.lecturer %></td>
        <td><%= course.semester %></td>
        <td><%= course.subject.name %></td>
        <td><%= course.university.name %></td>
        <td><%= course.user.facebookid %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to user', user_path(@user) %>
<%= link_to 'New Course', new_user_course_path(@user) %>
